---
title: Credits
description:
  "The Modpack Dev Handbook Credits."
---

# Credits

The Modpack Dev Handbook is a fork of the Modpack Development Knowledgebase, licensed under MIT.

Developed and Maintained by Reverie Projects @ nostalgica.net.
