---
title: Marketing
tags: todo, marketing, screenshots, logos, assets
description: 
  Notes on how to build an audience for your pack 
---

# Marketing

Marketing a modpack is not a simple task, there's a very low barrier to entry for creating one, and it's very easy for it to get lost in the sea of other packs.

One important thing to note about modpacks is that unless you're a larger creator, there will be no large blockbuster release like you'd see for a video game. It's likely that if your pack picks up steam, it'll be after more than a few updates. Maybe a bigger name in the community notices your pack, or it gets featured on a platform like CurseForge or Modrinth. Don't get discouraged if you release your packs to crickets!

## Modpack page 

Your modpack's page is essentially the face of the project.

### Screenshots

Do not just fill your modpack's page with worldgen and structure screenshots! Anyone can download a few worldgen mods, slap on a shader, and call it a day. Players will not be particularly impressed unless your modpack features custom or at least unique worldgen and structures.

Your goal should be to highlight what makes your pack unique in as few screenshots as possible. Some ideas to get you started:

- If you're making a tech pack, build out a visually impressive factory that inspires players
- Custom mechanics make for great screenshots, as they prove at least some level of effort went into the pack
- Quest books can be very attractive to certain types of players, and screenshots of well done quest book pages well help filter for those players

### A note on generated images

The use of images generated by AI models (i.e. AI generated images) is a net negative for your project. Modding is a primarily passion driven fields, and many users will be put off by AI generated logos of images in your description, even if they are minor. The use of these images can make your project come across as low effort, even if the actual contents of your pack aren't!

If you're bad at art, the [Minecraft Title Generator plugin](https://www.blockbench.net/plugins/minecraft_title_generator) for [BlockBench](https://www.blockbench.net/) offers lots of customization for making a text-based logo for your page.

 Alternatively, throwing something together in paint or sourcing from the community can be a good option. If you've put tons of effort into your pack, just put a tiny bit more into your logo!

