*.go text eol=lf
docs/packwand/spec/example-pack/** text eol=lf
docs/packwand/spec/schemas/*.json text eol=lf
* text=auto eol=lf
apps/packwand/gui/static/** linguist-generated=true
docs/docs/.vitepress/theme/gleam/** linguist-generated=true
apps/packwand/ide/** linguist-generated=true