# General
build
.DS_Store
*.exe
*.mrpack
update_log_*.txt
*.zip
modpacks/**/packitup.schema.json
modpacks/**/Logs
artifacts/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.settings/
.vscode/
.classpath
.project

# Logs and errors
hs_err_*.log
replay_*.log
*.hprof
*.jfr
