---
title: Adding biomes to your modpack
tags: guide, worldgen, biomes, datapack, tutorial, lithostitched
description:
    Adding custom biomes to the game
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Adding Biomes
