---
title: Intro to Resource Packs
tags: intro
description: Introduction and tutorial for resource packs
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Intro to Resource Packs

A resource pack is a collection of assets stored in a folder or `.zip` file used to modify how elements of the game, such as blocks, items, and GUIs look. They mainly consist of textures, models, and lang.

## Making a Resource Pack

#### 1. Create a folder
This can be done by right-clicking your desktop or inside another directory, and pressing "New" -> "Folder". You can also press `CTRL + Shift + N` as a shortcut. You can name this folder anything.


