---
title: CurseForge
tags: curseforge, submission
description: Things to be aware of when submitting your modpack to CurseForge
---

# CurseForge

CurseForge is a popular platform for Minecraft mods and modpacks owned by Overwolf, and as a modpack developer it's important you have a good understanding of how it works and impacts your development.

You can find the platform specific moderation policies [here](https://support.curseforge.com/support/solutions/articles/9000197279-moderation-policies#Minecraft-specific-Moderation-Policies).

One of the more important rules to be aware of is the third party mods guidelines. Typically when you create a client pack export, your zip file will **not** actually contain mods if the export was done correctly. They will instead contain a manifest that allows the mods to download from CurseForge when a user imports the pack. Therefore, if you see a `mods` folder in your export, that means you have either done something wrong or you've used mods that are not on CurseForge.

All platforms have their own general rules for these mods which you can find on the above link. Paying attention the the [licenses](/wiki/info/licenses/) of third party mods will help your pack not be denied by CurseForge moderation.

CurseForge also maintains a spreadsheet of pre-cleared third-party mods [here](https://docs.google.com/spreadsheets/d/176Wv-PZUo9hFxy6oC6N8tWdquBLPRtSuLbNK-r0_byM/edit?gid=0#gid=0). These mods will automatically be approved by CurseForge moderation if they are included in your pack's mod overrides.

## Client pack

The CurseForge Launcher has its own process for exporting modpacks outlined in their first party guide [here](https://support.curseforge.com/support/solutions/articles/9000197908-exporting-a-modpack-for-curseforge-project-submission).

Third party launchers or CLI tools such as [Pakku](https://juraj-hrivnak.github.io/Pakku/home.html) can also be used to create a CurseForge applicable client pack export, though the process may differ depending on the platform.

## Server Pack

Server packs are specially made exports made for servers to install your modpack. They are uploaded as  "Additional Files" after uploading a pack version, and they differ in a few small ways from client packs:
- They contain mod files. This is an important distinction as you have to be extra careful when making sure your pack export is done properly
- They only contain mods with server functionality. Mods with client side functionality only may crash the server on startup
- Certain utility scripts/or files can be added, such as server-icons or start scripts.

:::warning

Not all mods are tagged correctly on CurseForge! Some mods may be marked as Client/Server despite only having client functionality. Third party server pack creation tools can allow you to manually add taggingsfor mods, but be sure to always test server packs if you're able to.

:::

Exporting a server pack can be tricky and not a completely solved problem, though a few good solutions exist. 

- [Curseforge's tutorial](https://blog.curseforge.com/server-packs-tutorial/) has a manual solution.
- [Server Pack Creator](https://serverpackcreator.de/) is a specialized tool for server packs, with GUI and command line options
- [Pakku](https://juraj-hrivnak.github.io/Pakku/home.html) and [PackWiz](https://packwiz.infra.link/) both over solutions for creating a server pack at the same time as a client pack.

