---
title: Modrinth
tags: todo, modrinth, submission
description: Things to be aware of when submitting your modpack to Modrinth
---

# Modrinth

Modrinth is a popular platform for Minecraft mods and modpacks owned by Spark Universe, and as a modpack developer it's important you have a good understanding of how it works and impacts your development. 

You can find the platform specific moderation policies [here](https://modrinth.com/legal/rules).

One of the more important rules to be aware of is the third party mods guidelines. Typically when you create a client pack export, your .mrpack file will **not** actually contain mods if the export was done correctly. They will instead contain a manifest that allows the mods to download from Modrinth when a user imports the pack. Therefore, if you see a `mods` folder in your export, that means you have either done something wrong or you've used mods that are not on Modrinth.

All platforms have their own general rules for these mods which you can find on the above link. Paying attention the the [licenses](/wiki/info/licenses/) of third party mods will help your pack not be denied by Modrinth moderation.


## Handling Non-Modrinth mods

You may research how Modrinth handles off platform mods in their recent blogpost, accessible [here](https://modrinth.com/news/article/modpack-permissions/)

### FTB Checker

[FTB Checker](https://modrinth.com/mod/ftbchecker) is a mod specifically made for the FTB suite of mods. It renders a screen with download links to mods if they are not installed.

On 1.21.1 and above, this mod also supports non-FTB mods

### Missing Mods Checker

[Missing Mods Checker](https://modrinth.com/mod/missing-mods-checker) does a similar thing as the above, but works on 1.20.1 and also contains a button to download mods at once.

This mod currently does not generate a config, lacks documentation and is not implemented anywhere in any official Luna Pixel Studios modpacks. Please note that this may not be able to be turned functional without direct help from the Developer.

## Client pack

The Modrinth Launcher has its own process for exporting modpacks outlined in their first party guide [here](https://support.modrinth.com/en/articles/8802250-modpacks-on-modrinth).

Third party launchers or CLI tools such as [Pakku](https://juraj-hrivnak.github.io/Pakku/home.html) can also be used to create a Modrinth applicable mrpack export, though the process may differ depending on the platform.

