---
title: Evergreen Version Resources
tags: 1.12.2
description: Resources and communities for packdev on older versions
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Evergreen Version Resources

While this wiki does not support Minecraft versions below 1.20.1, we are can provide resources for evergreen packdev versions (particularly 1.12.2) that would be useful for anyone making a modpack on those versions! If you develop on older versions, we recommend that you check out these resources, as the rest of this wiki's contents and guides are widely inapplicable to these versions.

* [1.12.2 Master Doc](https://docs.google.com/spreadsheets/d/1ywofV3ZTGyFcV2IMTaCSczXb6w9fMIVuNlC68QsZ_E8) - Compilation of Discord servers, sites, mod lists, tutorials, and other resources tailored towards 1.12.2
* [Modernized 1.12](https://docs.google.com/document/d/1UxXKZL6VM1y7t7XErz7cUEXX0JEJ_ntFB7A-NdE8Prk) - Template modpack featuring performance, content, and QoL mods
* [1.12 Coalition](https://discord.gg/bj6FXsRjtp) - Discord community centered around developing 1.12.2 mods and modpacks
