---
title: Attribute Modification
tags: todo, custom content, items
description: Modifying attributes of items and entities
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Attribute Modification


Both [Attribute Setter](https://www.curseforge.com/minecraft/mc-mods/attribute-setter) and [KubeJS](https://www.curseforge.com/minecraft/mc-mods/kubejs) can add attributes to items, armor, and curios. This will cover how to do both. 

## Attribute Setter

Attribute Setter relies on datapacks to apply attributes. Their schema and example files can be found [here](https://github.com/httpedor/AttributeSetter).
**`data/my_namespace/attributesetter/entity/modify_entity.json`**
```json
{
  "minecraft:creeper": [
    {
      "attribute": "minecraft:generic.max_health",
      "uuid": "0e1c07ef-d456-4567-b748-96b6f84b409e", //optional
      "value": 5,
      "operation": "BASE" // optional, default operation is BASE
    },
    {
      "attribute": "minecraft:generic.follow_range",
      "value": 10,
      "operation": "ADDITION"
    }
  ],
  "#minecraft:raiders": [
    {
      "attribute": "minecraft:generic.max_health",
      "value": 8,
      "operation": "ADDITION"
    }
  ],
  "anymob": [ //This expands to "example:anymob" because of the filename
    {
      "attribute": "projectile_damage:generic",
      "value": 10,
      //default operation is BASE
    }
  ]
}
```

:::tip

UUIDs for the `uuid` field can be obtained through UUID generator sites such as https://www.uuidgenerator.net

:::

## KubeJS

WIP

:::info

Other mods that have this functionality are [Attributizer](https://www.curseforge.com/minecraft/mc-mods/attributizer) and [Custom Item Attributes](https://www.curseforge.com/minecraft/mc-mods/cia), but they were not included in this guide for brevity and redundancy.

:::
