---
title: Data loading conditions
tags: neoforge, forge
description: Overview on modloader's data loading conditions and how to use them
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Data loading conditions

Both Forge, Neoforge, and Fabric have additional datapack functionality where both modders and modpack developers can dynamically disable/enable data files based on given criteria. These criteria can range from checking if a tag/item exists in the registry, or simply disabling the file outright. A common application of this is disabling files with `false` conditions as shown below.

**Forge**
```json
{
    "conditions": [
        { "type": "forge:false" }
    ]
}
```

**NeoForge**
```json 
{
    "neoforge:conditions": [
        { "type": "neoforge:false" }
    ]
}
```

**Fabric**
```json
{
   "fabric:load_conditions": [
     {
       "condition": "fabric:not",
       "value": {
         "condition": "fabric:any_mod_loaded",
         "values": [
           "minecraft"
         ]
       }
     }
   ]
 }
```

:::info

More information on the types of loading conditions supported by modloaders can be found on their respective documentations, which are listed below.

[Forge](https://docs.minecraftforge.net/en/latest/resources/server/conditional/)
[Neoforge](https://docs.neoforged.net/docs/1.21.1/resources/server/conditions/)
[Fabric](https://maven.fabricmc.net/docs/fabric-api-0.83.0+1.19.4/net/fabricmc/fabric/api/resource/conditions/v1/package-summary.html)

:::
