---
title: Introduction to modpack development
tags: intro
description: The very basics for modpack development
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Introduction to modpack development

New to packdev? This article will serve as an introduction to getting started with modpack development, covering introductory topics such as launchers, versions, modloaders, logs, and datapacks. 

## Launchers

To play modded Minecraft, you first need a **launcher**. Launchers are what allow you to easily add/remove mods from your game, as well as create different instances containing different mods and configurations. Using the Vanilla game launcher to run mods, while sometimes possible, can run into issues, and it a lot less convenient than using any of the options listed below.

| Launcher                                              | Where mods are downloaded from | Additional Notes                            |
| ----------------------------------------------------- | ------------------------------ | ------------------------------------------- |
| [Curseforge](https://www.curseforge.com/download/app) | Curseforge                     | Recommended to download<br>without Overwolf |
| [Prism](https://prismlauncher.org/download/windows/)  | Curseforge, Modrinth           | Has access to both CF and Modrinth          |
| [Modrinth](https://modrinth.com/app)                  | Modrinth                       | Only has access to Modrinth                 |
| [ATlauncher](https://atlauncher.com/downloads)        | :idk:                          | :idk:                                       |

While launchers have their differences, features, and issues, they are mainly up to personal preference. 

## Versions and Modloaders

While launchers are how you start the game, **modloaders** are what platform the mods you're using run on. Mods made on Forge generally cannot run on Fabric, and vice-versa. While there are many loaders out there today, only three are relevant for modern modpack development; Forge, Neoforge, and Fabric. 


| Version | Loaders          |
| ------- | ---------------- |
| 1.20.1  | Forge, Fabric    |
| 1.21.1  | NeoForge, Fabric |

:::info

The performance of a modpack is attributed almost entirely to the content of the mods it has, not the loader. Different modloaders are not inherently more/less performant for running mods than each other.

:::

## Logs


