---
title: Removing features from your modpack
tags: guide, worldgen, features, datapack, tutorial, lithostitched
description: Removing worldgen features to your game with datapacks and Lithostitched
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Removing worldgen features

Removing worldgen features is most easily done through worldgen modifiers, such as those provided through [Lithostitched](https://www.curseforge.com/minecraft/mc-mods/lithostitched). More information on Lithostitched Worldgen Modifiers can be found on their [wiki](https://github.com/Apollounknowndev/lithostitched/wiki/Intro-to-Worldgen-Modifiers), and can be created using their [generator site](https://lithostitched.vercel.app/lithostitched/worldgen-modifier/).

Example worldgen modifier
Removes Coal Ore generation from the Overworld.
```json:data/remove_ores/lithostitched/worldgen_modifier/remove_coal.json
{
  "type": "lithostitched:remove_features",
  "biomes": "#minecraft:is_overworld",
  "features": [
    "minecraft:ore_coal_lower",
    "minecraft:ore_coal_upper"
  ],
  "step": "underground_ores"
}
```

:::info

Biome modifiers are also possible through [Neo/Forge biome modifiers](https://docs.neoforged.net/docs/worldgen/biomemodifier/), but was not included in this page due to brevity and redundancy. Lithostitched covers most biome modifiers Neo/Forge has, but is more versatile and not loader specific. 

:::
