---
title: Mod Selection
tags: planning, mods, performance
description: Choosing which mods to add to your modpack
---

# Mod Selection

The mod selection phase is both the most important most fun part of planning a modpack. This is not a good thing! Scrolling through the list of mods and adding whatever catches your eye can be incredibly appealing, and will often lead to you being saddled with mods that are a bad fit for your pack and difficult to remove. 

A good way to avoid this trap is by having two separate instances for a modpack: one for mods you're certain you will include, and one for just trying out random mods. You can do this easily by first picking out performance/utility mods that are set in stone and duplicating that instance in the launcher you use.

While these tips aren't exhaustive nor something needed to be followed to-the-letter, here are some general guidelines for curating a modlist suitable for building a pack out of.
- Avoid overlap - This can come in many forms, whether it be in similar blocks/items/mechanics/systems between mods. Two mods adding different magic systems or having duplicate blocksets can be confusing to players and add more work to the developer to make work together cohesively. However, this isn't to say that you should *never* add similar mods, as streamlining and integrating mods together is something you can do to make your pack unique! Just be aware of the extra workload it may take to pull it off.
- Avoid adding mods that don't compliment the premise of the pack - It sounds obvious, but it's very easy to get carried away in what mods to add! You may want to reconsider what value a mod like Create would bring to an adventure pack, or what a mod like Apotheosis would bring to a tech pack. 
- Be wary of [closed source](/wiki/info/useful-terms/open-source/) mods - Due to not having easily accessible source code, closed source mods are less likely to be supported by other mod developers in cases of compatibility issues or integration requests. Additionally, closed source mods are less likely to receive contributions, and if the developer of the mod is unwilling or unable to update the mod in cases of fixing critical issues or modloader / version ports, it may be left in an unusable state for the purposes of your modpack. Similar issues may be present in mods that are [visible source](/wiki/info/useful-terms/visible-source/) but with a restrictive license such as All Rights Reserved, inhibiting the ability to make forks / fixes for the mod.

### Performance/utility mods

These mods are the bedrock of every pack, and will likely not vary too much no matter what kind of modpack you are creating. They tend to fall under a few categories:
* Performance mods such as Sodium, Embeddium, and Modernfix.
* A recipe viewer like JEI, EMI, or equivalents. 
* Pack tweaking utility mods such as KubeJS or Craftweaker. 

Some template packs may exist depending on the chosen minecraft version, though it's important to look through every mod and tweak the list if it doesn't fit your pack's needs.

### Core mods

Some mods are non-negotiable to your pack. They will be what you center progression and gameplay around, so it's important to pick reliable and easily customizable mods for this category. Additionally, they must have enough of their own content to provide a cohesive experience, with help from maybe a handful of supporting mods. 

Some mods like these are Ars Nouveau, Gregtech, Create, etc. They are your anchor points, and centering your pack around them will make planning significantly easier.

You can also choose to forgo major content mods and center your pack around non-content mods. [Skyblock Burgeria](https://www.curseforge.com/minecraft/modpacks/skyblock-burgeria) for example is a modpack that centers around a custom mechanic written in KubeJS. 

### Supporting mods

There are some mods that act as "glue" in a given pack. More often than not, they fulfill one or a few different roles that are needed to support the core mod(s) in your modpack.

Some easy examples of these are storage mods such as Applied Energistics 2 or Functional Storage, item transportation mods like Pretty Pipes, or biome mods such as Regions Unexplored.

These mods should have a purpose in your pack, and each one will increase your overall workload as they'll bring more content to integrate (change recipes, remove items, etc). You don't want to mindlessly add them into your modpack, but a lack of these might be frustrating to your target audience.

### Fluff mods

"Fluff" mods are those that don't contribute to the core gameplay of your pack, but add something meaningful certain types of players might enjoy, or you just have a preference for. 

This is also fairly genre and audience dependent. Mods centered around technical automation mods will appeal to players that aren't necessarily interested in normal decor mods. Look for ones that add more factory-themed blocks or ones that give players a clean palette.

It can be dangerous to add too many of these mods! Think carefully about each one and don't just install every fluff mod that catches your eye.

