---
title: "Git Practices"
description:
  "This page is an introduction to our Git practices as a page for the wiki."
---

<script>
  import { siteConfig } from '$lib/site';
</script>

# Git Practices

**Last Updated:** 07-08-2026

This page is an introduction to how we use Git in the
<a href={siteConfig.handbook.repoUrl}>wiki repository</a>. In order to keep the
wiki consistent and reputable, we have a few rules that we follow.

Git provides a lot of features that are great for collaboration, and we try to
use them as much as possible.

:::info

This guide assumes you already have experience using Git before.

:::

## Forking and PRs

We currently do not accept PR's from outside members to the wiki, due to limitations around our ForgeJo. If you would like to contribute, please send @omo50 a friend request on Discord.

## Branches

Branches are useful additions to help separate features in your fork. Please allocate your username and the feature you are working on for the branch you are working on. IE. omo50 works on a new KubeJS section, that would be under the branch omo/kubejs.

## Commit Messages

Abide by the Conventional Commit standard as outlined in CONTRIBUTING.md at the repository root.

## Merging

Whenever you start working on a new branch or features, pull the latest changes
from the main branch. This will ensure that you have the most up-to-date
changes.

```sh
bun run docs:index
```

## Other Important Information

- Make a description of your changes in your PR.
- Reviewers: Proofread changes before approving them.