---
title: Licenses
tags: licenses
description: An overview of a few common licenses, what they mean, and which one is right for you
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

## Licenses

Licenses are ways for developers to define what others can or cannot do with their work. Licenses can be applied to nearly everything, but Mods, Modpacks, and Resource Packs are the most relevant here. You should be aware of a projects license if you choose to do any of the following:
- Distribute the project on a hosting site that the original work is not hosted on
- Use any part of the projects assets or code in any way, besides simply including it in a modpack
- Port or fork the project 

:::info

No matter what a project's license says, if it is hosted on a platform such as Curseforge or Modrinth, you are free to include it in a modpack as long as it is hosted on the same platform. Both CurseForge and Modrinth have clauses that prevent project developers from restricting access to users using their content on their platforms.

[CurseForge clause](https://legal.overwolf.com/docs/curseforge/mod-authors-terms/#:~:text=You%20grant%20Overwolf%20an%20unrestricted%2C,ensuring%20compliance%20with%20these%20Terms.)
[Modrinth clause](https://modrinth.com/legal/terms#:~:text=When%20you%20upload%20your%20Gaming%20Content%2C%20you%20hereby%20grant%20us%20a%20limited%20use%2C%20non%2Dexclusive%2C%20royalty%2Dfree%2C%20fully%20paid%20up%2C%20right%20to%20display%20and%20distribute%20your%20Gaming%20Content%20to%20our%20users%20through%20the%20Service%2C%20which%20our%20users%20in%20turn%20may%20then%20use%20at%20their%20sole%20discretion.)

:::

:::warning

The following is simply an overview of common licenses, and is not legal advice! If you're ever unsure on what you can/can't do with someone's work, either consult an attorney or reach out to the author to get explicit permission to do what you want.

:::
## Common Licenses
If existing licenses aren't to your liking, it is possible to use multiple licenses for different parts of your project. For example, you could license code under MIT and assets under ARR, meaning that users are free to distribute and modify your code as long as you are credited, but unable to reuse your assets for their own projects or republish the project in it's entirety without changing the assets. This is more advised than creating a license from scratch due to users and sites being familiar with existing licenses, meaning that enforcement and interpretation is more consistent.


#### All Rights Reserved / ARR

- Author keeps ALL rights
- Users are not permitted to use the project in any way
- Projects without licenses should be treated as All Rights Reserved
- Ask the author before doing anything with the project!

#### [MIT](https://opensource.org/license/mit)

- Author waives most rights
- Users are free to do anything they'd like, as long as credit to the original author is provided

#### [Public Domain](https://creativecommons.org/public-domain/)

- Author waives all rights
- Users are free to do anything they'd like, no credit or attribution required

#### [GNU GPL v3](https://www.gnu.org/licenses/gpl-3.0.en.html)

- "Viral License" - derivatives of this project must use the same license as the original
	- If this software or parts of this software is used in a larger project, the entire project must be GNU GPL Licensed
- Users are free to do anything they'd like, as long as credit to original author is provided and project derivative is GNU GPL licensed

#### [LGPL v3](https://www.gnu.org/licenses/lgpl-3.0.en.html)

- "Viral License" - derivatives of this project must use the same license as the original
	- If this software or parts of this software is used in a larger project, the project as a whole does not have to be LGPL Licensed
- Users are free to do anything they'd like, as long as credit to original author is provided and the original LGPL licensed work is still LGPL licensed in the project derivative

## About “Custom Licenses”

Unless you have legal experience, creating your own license from scratch is generally advised against. This includes licenses made with or assisted by LLMs such as ChatGPT. Licenses not made or approved by an attorney may not be legally valid, meaning that loopholes or unintended interpretations are a risk when using them. Using a license with no prior precedent may dissuade users from modifying, distributing, or contributing to your project. 

