---
title: Removing biomes from your modpack
tags: guide, worldgen, biomes, datapack, tutorial, lithostitched
description:
    Removing biomes from the game
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Removing Biomes
