---
title: Ideation
description: Creating a core concept for your pack
---

# Ideation

Despite modpacks being loose collections of mods, there's a lot of work that goes into "gluing" these mods together to make a cohesive experience. This involves planning out progression, removing unused or unwanted contents from mods, and just general game design.

This page will take you through the planning phase of your modpack, and what you can expect to have to take on when making a modpack.

## Prerequisites
Most of this works involves editing json files, writing KubeJS/Craftweaker scripts, and editing configs.

It's essential you have have the following (or equivalents) to keep yourself and your pack properly organized:

- Text editor like [VSCodium](https://vscodium.com/) or [Visual Studio Code](https://code.visualstudio.com/download)
- [Version Control](/wiki/info/version-control-tools/) for ensuring work doesn't get deleted
- Some tool to take notes such as [Obsidian](https://obsidian.md/) or any other text editors/paper

Some other things that will improve your experience creating modpacks is technical knowledge of Minecraft, experience playing lots of different kinds of modpacks, and general programming experience. None of these things are required though by any means.

Most importantly, you must pick a version of Minecraft to build your pack on. Often times this decision isn't really up to you. You already likely have a core mod or two you're centering your pack on, so the best call is to build your pack on a version those mod authors support.

Try not to get swept up in conversations about which version of Minecraft is superior for modded minecraft. Ultimately this question only comes down to how good a given version is for your pack specifically. At the same time, know your audience. If you're making a more vanilla-like modpack, your audience will have less of a tolerance for older versions of Minecraft. If you're making a Gregtech modpack, that audience might feel the exact opposite way!

## Picking a concept

Deciding to create a modpack will likely come from having a specific idea or type of pack you'd like to see. Other times it can be based off an existing game or game genre.

Often times inspiration can come from playing a pack and noticing things you would tweak or add to. Maybe a core mod such as Create can be replaced by a more niche option you prefer such as Crossroads. Playing packs is a good way to shape and solidify your preferences. At worst, playing other modpacks will give you a better sense at what mods are out there, and give ideas on how to use them.

If you're just starting out, the best concept you might want to try is a "stuff I like pack". Just throw together a bunch of mods, and tweak some recipes to add progression. Experimentation can lead you to a stronger idea later on, while still building your skills and experience.
